    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-container mt-2 mr-3">
          <ul class="navbar-nav nav-primary justify-content-end"> 
            <!--
            <li class="nav-item">
                <%= link_to  "Portafolio", class:"nav-link" %>
            </li>
            <li class="nav-item active">
                <%= link_to  "Blog", class:"nav-link" %>
               
            </li>
            -->
             <li class="nav-item">
                  <%= link_to  "¿Quien Soy?", quien_soy_path, class:"nav-link" %>
  
              </li>

              <!--
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Registro</a>
              </li>
              -->
             
        
            </ul>
            
      </div>
     <div class="button-container d-flex align-items-center justify-content-between">
        <a href="#" class="text-uppercase nav-call-now py-3"><i class="fa fa-phone"></i></a>
        <div class="button">
          <a href="mailto:info@holamundoonline.com" class="text-uppercase">Contacto</a>
          <svg>
            <polyline class="o1" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 150 0, 150 55, 0 55, 0 0"></polyline>
          </svg>
        </div>
        
     </div>
         
    </div>