<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-container mt-2 mr-3">
        <ul class="navbar-nav nav-primary justify-content-end"> 
            <li class="nav-item active">
              <a class="nav-link" href="#">Events<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Spa<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Live Cam<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Real Estate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Golf</a>
            </li>
      
          </ul>
          <ul class="navbar-nav nav-secondary">
            <li class="nav-item">
              <a href="#" class="nav-link">Getting Here</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Resort</a>
            </li>
            <li class="nav-item"><a href="" class="nav-link">Suites</a></li>
            <li class="nav-item"><a href="" class="nav-link">Dinning</a></li>
            <li class="nav-item"><a href="" class="nav-link">Deals</a></li>
            <li class="nav-item"><a href="" class="nav-link">News</a></li>
            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="" class="nav-link">More</a></li>
          </ul>
    </div>
   <div class="button-container">
      <a href="#" class="text-uppercase nav-call-now py-3"><i class="fa fa-phone"></i></a>
      <a href="#" class="text-uppercase nav-book-now py-3">Contact Us</a>
   </div>
       
  </div>