<div id="video-carousel-home" class="carousel slide carousel-fade" data-ride="carousel">
    <!--
    <ol class="carousel-indicators">
        <li data-target="#video-carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#video-carousel-home" data-slide-to="1"></li>
    </ol>
    -->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <video class="video-fluid" autoplay loop muted>
              <source src="https://devland.sfo2.digitaloceanspaces.com/holamundoonline/coverr-hands-typing.mp4" type="video/mp4" />
            </video>
      </div>
      <!--
      <div class="carousel-item active">
          <%#= image_tag 'banner/banner-home-2.jpg', class:"w-100" %>
      </div>
      -->
  
      <div class="text-carousel-inner">
          <span>Conectamos</span>
          <h2>Tu marca</h2>
          <p>a un mundo siempre online</p>
      </div>

    </div>
    <!--<a class="carousel-control-prev" href="#video-carousel-home" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#video-carousel-home" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    -->
   
    <!--/.Controls-->
  </div>
  <!--Carousel Wrapper-->