
  <!--Carousel Wrapper-->
  <div id="video-carousel-home" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <video class="video-fluid" autoplay loop muted>
                <source src="https://villagrouploreto.s3-us-west-2.amazonaws.com/videos/vdpl-home-video-1.mp4" type="video/mp4" />
              </video>
        </div>
        <div class="carousel-item">
            <video class="video-fluid" autoplay loop muted>
                <source src="https://villagrouploreto.s3-us-west-2.amazonaws.com/videos/vdpl-home-video-2.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="carousel-item">
            <video class="video-fluid" autoplay loop muted>
                <source src="https://villagrouploreto.s3-us-west-2.amazonaws.com/videos/vdpl-home-video-3.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="carousel-item">
            <video class="video-fluid" autoplay loop muted>
                <source src="https://villagrouploreto.s3-us-west-2.amazonaws.com/videos/vdpl-home-video-4.mp4" type="video/mp4" />
            </video>
        </div>


      </div>