
<main>
    <%= render 'partials/banner', title:"Blog", subtitle:"Marketing Digital", description:"Permanece actualizado con todo lo relacionado al Marketing", image:'blog' %>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
</main>