
<main>
  <%= render 'partials/banner', title: "Portafolio", subtitle:"de Proyectos", description:"Conoce nuestras historias de éxito", image:'portafolio' %>

  <div class="container-fluid">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Portafolio</h1>
        </div>

      </div>
    </div>
  </div>
</main>
