<main>
    <%= render 'partials/banner', title: "Conoceme", subtitle:"¿Quien soy?", description:"Te presento mi mundo", image:'conoceme' %>
    <div class="container-fluid">
    <div class="container">
      <div class="row">
          <div class="col-6 text-center d-flex justify-content-center align-items-center">
             
           <!-- <div class="portrait">
                <%= image_tag('acerca/jmem.jpg', class:"img-fluid") do %><% end %>
            </div>
            -->
            
          </div>
          <div class="col-6 d-flex align-items-center flex-column justify-content-center">
              <div class="portrait mt-5">
                  <%= image_tag('acerca/jmem.jpg', class:"img-fluid") do %><% end %>
              </div>  
            <h2 class="fuente-2 pt-2">Hola amigo...</h2>
            <p>
              Te contare un poco sobre mí. Yo naci en la ciudad Tepic, Nayarit, cuna de la mexicaneidad. Viví muchos años en una granja de animales a las afueras de un pequeño poblado en Sonora. 
            </p>
            <p>Por muchos tiempo viví aislado del mundo y de la tecnologia, despues tuve mi primer encuentro con una computadora y supe que mi vida cambiaria para siempre.</p>
            <p>Aunque siempre me gustó inventar y crear mis propias reglas. Gracias a la tecnologia, es que hoy me dedico al mundo del marketing y el desarrollo web. Soy ingeniero en Sistemas Computacionales y mi pasion mas grande ademas de programar, es <strong>reinventar las cosas cada dia</strong>.</p>
           
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <%= image_tag('acerca/jmem-color.jpg', class:"img-fluid image-styled") do %><% end %>
               
                
            </div>
          <div class="col-6 d-flex align-items-center flex-column justify-content-start">
              <p>Creo que dominar a las tecnologias del internet, es súper indispensable hoy en dia, y me gusta creer que tengo todas estas habilidades especiales con las cuales puedo transormar la vida de las personas.</p>
              <p>Si necesitas ayuda, para posicionar tu marca y darle un toque especial, yo estaria encantado de potenciar tu negocio al maximo, con una vision siempre fresca y única."</p>
              <a href="" class="sign py-4">Atentamente: Ing. Jose Maria Estrada Madera</a>
            </div>

        </div>
    </div>
  </div>

  <div class="spacer s2"></div>
  
</main>