/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
 @import "bootstrap";
 @import "font-awesome";
 @import "variables";
 @import "navbar";
 @import "banner";
 @import "main";
 @font-face {
  font-family: 'Holland';
  src: url('./fonts/Holland.eot');
  src: url('./fonts/Holland.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Holland.woff2') format('woff2'),
      url('./fonts/Holland.woff') format('woff'),
      url('./fonts/Holland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Julius';
  src: url('./fonts/JuliusSansOne-Regular.eot');
  src: url('./fonts/JuliusSansOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/JuliusSansOne-Regular.woff2') format('woff2'),
      url('./fonts/JuliusSansOne-Regular.woff') format('woff'),
      url('./fonts/JuliusSansOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 body{
  font-family: 'Nunito Sans', sans-serif;
 }
 
 .fuente-1{
  font-family: 'Julius';
 }
 .fuente-2{
  font-family: 'Holland';
 }
footer{
  background: #191919;
  color: $color-primary;
  &::after{
    content:"";
    background:#fff;
    top:10px;
    left: 0;
    position: absolute;
  }
}